@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    overflow-x:hidden;
}

::-webkit-scrollbar {
    width: 0px;
  }

body{
    min-height:100vh;
    background: linear-gradient(190deg,#0E0533, #111111);
}